h1 {
  color: blue
}

.home-btns {
  width: 100%;
}

.all-cards {
  width: 80px;
  /* width: 10%; */
  height: 100px;
  padding: 0.05%;
  margin: 0.5%;
}

.active-cards {
  box-shadow: 5px 10px;
  box-shadow: 1px 2px 1px 1px #8ae6a4;
}

.inactive-cards {
  box-shadow: 0px 0px;
  box-shadow: 0px 0px 0px 0px #b4d7eb;
}

.card-image {
  height: 100px;
    width: 80px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #0000004d;

}

.single-player-area {
  background: #f9fffe;
  box-shadow: 1px 2px 1px 1px #e3ece6;
  height: 300px;
  margin: 0px !important;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.player-name {
  text-decoration: underline;
  width: 30%;
}

.playarea-row {
  margin: auto;
  line-height: 0px;
  vertical-align: middle;
}

.first-card {
  position: fixed;
  background: #ffffff;
}

.other-cards {
  position: relative;
  left: 2%;
  background: aliceblue;
}

.played-card {
  height: 100%;
  width: 100%;
}

.single-played-card {
  height: 130px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

/* #playArea{
  height: 300px;
} */



#main {
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
}

#roundInfo {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  background-color: #84c2f9ed;
  border-radius: 20px;
  margin-top: 5px;
}

#roundInfo > h4 {
  margin: auto;
  line-height: 0px;
  vertical-align: middle;
}

.cards-area {
  height: 240px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

#play-card-message {
  margin-left: 5%;
  color: green;
}

.player-turn {
  background: #fff9f7ab;
}

.player-turn-off {
  background: #ffffff
}

.play-dot {
  color: #fd4545;
  margin-left: 10px;
}

.player-box-header {
  height: 50px;
  width: 100%;
  margin: 0px !important;
}

.round-stats {
  width: 70%;
  text-align: right;
  font-size: medium;
}

.row {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container-fluid {
  height: 100%;
}

.right-position-dialog {
  width: 300px !important;
  left: 70%;
  position: absolute !important;
  top: 55%;
}

/* #playerBetModalDialog{
  
} */

#players-stats-div {
  z-index: 1100 !important;
}

.player-name-below-card{
  text-align: center;
}