.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}


body {
  background: url("../images/prism.png");
}


h1 {
  color: blue
}

.home-btns {
  width: 100%;
}

#winner-div{
  text-align: center;
}

.all-cards {
  width: 80px;
  height: 110px;
  padding: 0.3%;
  margin: 1%;
  background: white;
  border-radius: 3px;
}

.active-cards {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 10px;
  /* box-shadow: 1px 2px 1px 1px #8ae6a4; */
}

.inactive-cards {
  box-shadow: 0px 0px;
  box-shadow: 0px 0px 0px 0px #b4d7eb;
}

.card-image {
  height: 100%;
  width: 100%;
  /*     border-style: solid;
    border-width: 1px;
    border-radius: 2px; */
  border-color: #0000004d;

}

.single-player-area {
  /* border-radius: 10px; */
  background: #888067;
  ;
  /* box-shadow: 1px 2px 1px 1px #e3ece6; */
  height: 100%;
  margin: 0px !important;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.player-name {
  text-decoration: underline;
  width: 30%;
}

.playarea-row {
  height: 350px !important;
  margin: auto;
  line-height: 0px;
  vertical-align: middle;
}

.first-card {
  position: fixed;
  background: #ffffff;
}

.other-cards {
  position: relative;
  left: 2%;
  background: aliceblue;
}

.played-card {
  height: 100%;
  width: 100%;
}

.single-played-card {
  height: 110px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-top: 20px;
  padding: 0.1%;
  background: white;
  border-radius: 3px;
}

.single-played-card>h6 {
  color: #05e0fbfc;
  font-style: italic;
}

#playArea {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.turn-table-col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#playersTurn {
  color: #f1f1f1;
  background: #1f2524;
  ;
}

#main {
  margin-left: 0px;
  margin-right: 0px;
  /* height: 100% !important; */
}

#roundInfo,
#showStatsHeader {
  text-align: center;
  display: table !important;
  height: 60px;
  margin-left: 0px;
  margin-right: 0px;
  /* margin-bottom: 30px; */
  background-color: #f5a62aed;
  /* border-radius: 20px; */
  margin-top: 5px;
}

#roundInfo>h4 {
  display: table-cell;
  vertical-align: middle;
}

.cards-area {
  /* height: 320px; */
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

#play-card-message {
  margin-left: 5%;
  color: green;
}

.player-turn {
  background: #fff9f7ab;
}

.player-turn-off {
  background: #ffffff
}

.play-dot {
  color: #31e813;
  margin-left: 10px;
}

.player-box-header {
  width: 100%;
  margin: 0px !important;
}

.round-stats {
  width: 70%;
  text-align: right;
  font-size: medium;
}

.row {
  /* height: fit-content !important; */
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container-fluid {
  height: 100%;
}

.right-position-dialog {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px !important;
  left: 70%;
  position: absolute !important;
  top: 50%;
}

/* #playerBetModalDialog{
  
} */

#players-stats-div {
  z-index: 1100 !important;
}

.player-name-below-card {
  text-align: center;
}


#showStatsHeader {
  border-left: solid;
  background-color: #37fbf4;
  z-index: 1100 !important;
  cursor: pointer;
  transition: height 0.5s;
}

#showStatsHeader>div {
  display: table-cell;
  vertical-align: middle;
}


@keyframes shine {
  50% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

.active-cards:after {
  animation: shine 2s ease-in-out infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%);
}



/* Hover state - trigger effect */

/* .active-cards:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
} */

/* Active state */

.active-cards:active:after {
  opacity: 0;
}

.party-image{
  width: 50px;
}
#winner-info{
  margin-left: 10px;
  margin-right: 10px;
}