<div class="row" style="height: 700px !important;">
  <div class="row justify-content-center" style="margin: auto;">
    <div class="col-4 align-self-center">
      <button type="button" class="btn btn-primary home-btns" id="startGameBtn">
        Start Game
      </button>
    </div>
    <div class="col-4 align-self-center">
      <button type="button" class="btn btn-primary home-btns" id="joinGameBtn">
        Join Game
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="GameStartModal" tabindex="-1" role="dialog" aria-labelledby="GameStartModalTitle"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Game Details</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="playerNameStartGame">Your Name</label>
            <input type="text" class="form-control" id="playerNameStartGame" placeholder="your name">
          </div>
          <div class="form-group">
            <label for="noOfPlayers">No of Players</label>
            <input type="text" class="form-control" id="noOfPlayers" placeholder="total player count">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeStartedGame" data-dismiss="modal">Close</button>
        <button type="button" id="noOfPlayersSubmit" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="playersConnectModal" tabindex="-1" role="dialog" aria-labelledby="playersConnectModalTitle"
  data-backdrop="static" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Players Details</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="noOfPlayersConnected">No of Players Connected</label>
            <input type="text" class="form-control" id="noOfPlayersConnected" placeholder="total player count" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeStartedGameAfterPlayerNumbers" data-dismiss="modal">Close</button>
        <button type="button" id="startGameAfterPlayersJoined" class="btn btn-primary" data-dismiss="modal">Start</button>
      </div>
      <div id="serverIp"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="searchGameModal" tabindex="-1" role="dialog" aria-labelledby="searchGameModalTitle"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Available Games</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="playerNameJoinGame">Your Name</label>
            <input type="text" class="form-control" id="playerNameJoinGame" placeholder="your name" required>
          </div>
          <div class="form-group">
            <label for="availableGames">Games</label>
            <select id="availableGames" class="form-control">
              <option selected disabled>Select Id to join</option>
            </select>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeJoinGame" data-dismiss="modal">Close</button>
          <button type="submit" id="joinGameSubmit" class="btn btn-primary" disabled>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
