<div class="row" id="roundInfo"></div>
<div class="row playarea-row">
  <div id="playArea" class="col-7"></div>
  <div class="col-5">
    <div class="row" id="playedCard"></div>
  </div>
</div>
<div class="row table-row">
  <div class="col-5">
    <table class="table-players-stats table table-striped" id="playersTurn">
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#playersStatsModal">
      Show Stats
    </button>
  </div>
</div>
</div>
<div class="modal fade" id="playerBetModal" tabindex="-1" role="dialog" aria-labelledby="playerBetModalTitle"
  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Place Bet</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="noOfHands">How Many Hands?</label>
            <input type="text" class="form-control" id="noOfHands" placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" id="noOfHandsCancel" data-dismiss="modal">Close</button> -->
        <button type="button" id="noOfHandsSubmit" class="btn btn-primary" data-dismiss="modal">Start</button>
      </div>
      <div id="serverIp"></div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="playerWonModal"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="winner-info"></p>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="playersStatsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="playerStatsBody">
      <div class="modal-body">
        <table class="table-players-stats table table-striped" id="playersStatsTable">
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="playerBetWaitModal"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="player-bet-wait-info"></p>
      </div>
    </div>
  </div>
</div>
